* {
    font-family: Raleway, AdobeInvisFont, MyriadPro;

}
body{
    position: relative;
}
nav {
    background-color: white;
}

.navbar a {
    color: #262626;
}

.navbar-brand {
    font-family: Pacifico, AdobeInvisFont, MyriadPro;
    color: rgba(38, 38, 38, 255);
    text-align: right;
    font-size: 50px;
}

.main-navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-weight: bold;
    font-size: 16px;
    margin: 15px;
    color: #262626;
    padding: 5px 0;
    text-transform: uppercase;
}
.active {
	border-top: 3px solid #ff6033;
    margin-top: -3px;
}
.nav li a:hover{
	border-top: 3px solid #ff6033;
    margin-top: -3px;
}
.btn {
    background-color: #ff6033;
    color: white;
    text-transform: uppercase;
    border-radius: 0;
}

header {
    position: relative;
    height: 100%;
    padding-top: 250px;
    background-image: url(../images/header-section-bg.png);
    background-size: cover;
    background-position: center;
}

.header-text {
    padding-bottom: 320px;
}

header h2 {
    font-size: 60px;
    color: rgba(38, 38, 38, 255);
    font-weight: 900;
}

header p {
    font-size: 17px;
    color: rgba(38, 38, 38, 255);
}

.scroll {
    position: absolute;
    bottom: 50px;
    left: 0;
    text-align: center;
}

.about-us {
    background-color: #00b1b1;
    padding: 70px 0;
}

.about-us-img img {
    width: 100%;
}

.about-us h2,
.services-title h2 {
    font-weight: bold;
    font-size: 90px;
    color: rgba(255, 255, 255, 255);
}

.about-us p {
    font-weight: 100;
    font-size: 17px;
    color: rgba(255, 255, 255, 255);
}

.services {
    background-color: #70bfff;
    padding: 100px 0;

}

.services row div{
        display: flex;
    flex-direction: column-reverse;
}
.button-services {
    background-color: white;
    margin: 20px 0;
    width: 100%;
    height: 100px;
    display: inline-table;
}

.button-services div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.button-text {
    width: 75%;
}

.button-img {
    border-left: 1px solid black;
}

.services-title {
    padding: 0;
    background-image: url(../images/tomatoes.png);
    background-size: contain;
    background-position: right;
    min-height: 300px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.gallery {
    background-color: #ffe92f;
}

.gallery h2 {
    padding-top: 100px;

    font-size: 90px;
    font-weight: bold;
    color: rgba(38, 38, 38, 255);
    text-align: center;
    align-items: center;
}

.gallery p {
    font-size: 17px;
    font-weight: 100;
    color: rgba(38, 38, 38, 255);
    text-align: center;
    padding-top: 28px;
    padding-bottom: 45px;
}

.gallery .row,
blog .row,
.contact .row {
   
    display: flex;
    margin: 0 -25px;
}

.gallery img {
    margin: 15px 0;
    width: 100%;
    max-height: 100%;
    transition: all 0.35s ease-in-out;
}

.gallery .col-lg-8,
.gallery .col-lg-4,
.gallery .col-lg-6 {
    margin-left: -15px;
    margin-right: 15px;

}

.subscribe {
    background-image: url(../images/sub-bg.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 150px 0;
}

.subscribe a{
    text-decoration: none;
    color:white;
	
}

.subscribe-title {
    font-weight: bold;
    font-size: 40px;
    color: rgba(38, 38, 38, 255);
}

.subscribe-text {
    padding: 0px;
    font-size: 17px;
    font-weight: 100;
    color: rgba(38, 38, 38, 255);
}

.subscribe-input {
    margin: 30px 30px 30px 0;
    width: 70%;
    height: 55px;
    padding: 15px;
}

.subscribe-button {
    background-color: #96b92c;
    color: white;
    padding: 20px 30px;
    height: 55px;
    font-weight: 100;
}

.blog {
    background-color: #b07cf7;
    padding: 100px 0;
}

.blog h2 {
    font-size: 90px;
    color: rgba(255, 255, 255, 255);
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.blog p {
    font-weight: 100;
    font-size: 17px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}

.blog-box {
    padding: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 312px;
    position: relative;
    margin-bottom: 50px;
    margin-top: 45px;
}

.blog section {
    border-radius: 5px;
    line-height: 30px;
    position: relative;
    color: white;
    left: 30px;
    top: 30px;
    height: 60px;
    width: 60px;
    text-align: center;
    background: rgba(38, 38, 38, 0.5);
    font-weight: 900;
    font-size: 21px;
    color: rgba(255, 255, 255, 255);
}

.blog span {
    font-size: 32px;
    font-weight: bold;
    color: rgba(255, 255, 255, 255);
}

.blog-1 {
    background-image: url(../images/blogPic-1.png);
}

.blog-2 {
    background-image: url(../images/blogPic-2.png);
}

.blog-3 {
    background-image: url(../images/blogPic-3.png);

}

.blog-text {
    font-weight: bold;
    font-size: 20px;
    color: rgba(255, 255, 255, 255);
    height: 50%;
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    padding: 50px 20px 23px;
    width: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(255, 255, 255, 0) 100%);

}

.blog-text h4 {
    font-size: 20px;
    font-weight: bold;
    color: rgba(255, 255, 255, 255);
}

.blog-text h5 {
    font-size: 10px;
    font-weight: lighter;
    padding: 15px 0;
    color: rgba(255, 255, 255, 255);
}

.blog-button {
    border: none;
    font-weight: lighter;
    text-transform: uppercase;
    width: 200px;
    height: 55px;
    background-color: #f72b3b;
    margin: auto;
    font-size: 20px;
    color: rgba(255, 255, 255, 255);
}

.contact {
    background-image: url(../images/contact-bg.png);
    background-size: cover;
    padding: 100px 0;
}

.contact h2 {
    font-weight: bold;
    font-size: 90px;
    color: rgba(38, 38, 38, 255);
    text-align: center;

}

.contact p {
    padding: 50px 0;
    font-size: 17px;
    color: rgba(38, 38, 38, 255);
    text-align: center;
    font-weight: lighter;
}

.contact input,
.contact textarea {
    width: 90%;
    margin-bottom: 15px;
    background-color: #7adbda;
    opacity: 0.7;
    color: white;
    border: none;
    padding: 20px 15px;
}

.contact input {
    height: 50px;
}

.contact input::placeholder,
textarea::placeholder {
    color: white;
}

.contact-text h4 {
    font-size: 17px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.contact-text p {
    font-size: 17px;
    padding: 0;
    text-align: left;
    margin-bottom: 5px;
}
footer{
    background-color: #262626;
    padding: 30px 0;
    margin: 0;
}

.footer-text {
    font-size: 16pt;
    color: rgba(185, 185, 185, 255);
    text-align: right;
}
.footer-text-cahee{
    font-size: 17pt;
    color: rgba(185, 185, 185, 255);
    text-align: center;
    font-family: Pacifico, AdobeInvisFont, MyriadPro;
}
.footer-text span{
    color: #f52b55;
}

.box-shadow{
        box-shadow: 2px 2px 3px #666666;
}
.gallery img:hover {
    transform: scale(1.08);
    z-index: 1;
}
.zoom{
     transition: all 0.35s ease-in-out;
}
.zoom:hover{
    transform: scale(1.08);
    z-index: 1;
}
input:hover, input:focus, textarea:hover, textarea:focus{
    border-left: 5px solid blue;
    padding: 20px 10px;
}
@media (max-width: 992px) { 
    .gallery img {
    max-width: 100%;
    }
    .services .row, .about-us .row, .contact .row{
        flex-direction:column-reverse;
    }
    footer .row div{
        text-align: center;
    }
    .contact .row div, .contact .row div p {
        text-align: center;
    }
}
